<!--<div class="form-group"> 
    <input 
    type="text"
    class="form-control"
    id="filtercategory"
    [(ngModel)]="filterTextCategory"/>

  <h6 *ngIf="filterTextCategory" >{{filterTextCategory}} aradınız</h6>

</div>


<ul class="list-group" >
    <li class="list-group-item" aria-current="true" *ngFor="let category of categories |filtercategory:filterTextCategory">
        {{category.name}}</li>
    
  </ul>
<h4>{{counterofCategory}}</h4>
<button (click)="increase()">increase</button>-->


