<div style="clear: both;"></div>

<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="../../../assets/img/BE-logo.png" class="w-50 logo-footer">
                            <p>Ankara/Turkey</p>
                            <p>Şirkeyimiz yeni kurulmuş olup gelişmekte olan bir kurumdur.</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> Şirket Hakkında</h6>
                        <p>Şirkeyimiz yeni kurulmuş olup gelişmekte olan bir kurumdur.</p>
                        <a href="#" class="btn-footer"> Daha fazla bilgi </a><br>
                        <a href="#" class="btn-footer"> Bize Ulaşın</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6> Yardım</h6>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="#"> Anasayfa</a> </li>
                                    <li> <a href="#"> Hakkımızda</a> </li>
                                    <li> <a href="#"> Servis</a> </li>
                                    <li> <a href="#"> Takım</a> </li>
                                    <li> <a href="#"> Yardım</a> </li>
                                    <li> <a href="#"> İletişim</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                                <ul>
                                    <li> <a href="#"> Geri İadeler</a> </li>
                                    <li> <a href="#"> Fax</a> </li>
                                    <li> <a href="#"> şartlar</a> </li>
                                    <li> <a href="#"> Politika</a> </li>
                                    <li> <a href="#"> Geri Ödemeler</a> </li>
                                    <li> <a href="#"> Paypal</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h6> Bülten</h6>
                        <div class="social">
                            <a href="https://www.facebook.com/login/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/login/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/login/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="https://www.twitter.com/login/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                        <form class="form-footer my-3">
                            <input type="text" placeholder="burada ara...." name="search">
                            <input type="button" value="GİT">
                        </form>
                        <p>Be Katkılarıyla Hazırlanmıştır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>