<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="../../../assets/img/product02.png" alt="" style="width: 290px; height: 290px;">
                    </div>
                    <div class="shop-body">
                        <h3>Dizüstü<br>Bilgisayar</h3>
                        <a routerLink="/products" class="cta-btn">ŞİMDİ SATIN AL <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="../../../assets/img/product2.png" alt="" style="width: 290px; height: 290px;">
                    </div>
                    <div class="shop-body">
                        <h3>Aksesuar<br>Seti</h3>
                        <a routerLink="/products" class="cta-btn">ŞİMDİ SATIN AL <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->

            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="../../../assets/img/product04.png" alt="" style="width: 290px; height: 290px;">
                    </div>
                    <div class="shop-body">
                        <h3>Kamera<br>Seti</h3>
                        <a routerLink="/products" href="#" class="cta-btn">ŞİMDİ SATIN AL <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div style="clear: both;"></div>

<div id="carouselExampleCaptions" class="carousel slide" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="background-color: darkgray;">
      <div class="carousel-item active">
        <img src="../../../assets/img/slider3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="color:black">
          <h5>KULLANICI DOSTU TASARIMI İLE</h5>
          <p>KOLAYLIKLA ALIŞVERİŞİNİZİ YAPABİLİRSİNİZ</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/slider2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="color:black">
          <h5>ARADIĞIN TÜM ÜRÜNLER BURADA</h5>
          <p>SINIRSIZ SAYIDA ÜRÜN SEÇENEĞİ İLE</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/slider1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="color:black">
          <h5>GÜVENLİ ALIŞVERİŞİN ADRESİ</h5>
          <p>Be - TİCARET</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>